/* flex 导致 要把外变局 内边距 设置为0 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.w {
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* .header * {
    border: 1px solid red
} */
.header {
  display: flex;
  margin: 30px auto;
  height: 42px;
}
.header .logo {
  height: 42px;
  line-height: 42px;
}
.header .nav {
  margin: 0 105px 0 60px;
}
.header .nav > ul {
  display: flex;
  align-items: center;
}
.header .nav > ul li {
}
/* 到底给 a 设置高度还是 li */
.header .nav > ul li a {
  display: block;
  padding: 0 10px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}
/* header-search_box */
.search_box {
  display: flex;
  width: 411px;
  height: 42px;
}
.search_box input {
  border: 1px solid #00a4ff;
  border-right: none;
  width: 359px;
  height: 40px;
}
.search_box button {
  border: none;
  width: 49px;
  height: 42px;
  background: url("../imgs/fa-search.png");
}

/* user */
.header .user {
  margin-left: 30px;
  height: 42px;
  line-height: 42px;
}
.header .user img {
  vertical-align: middle;
}

/*banner 开始*/
.banner_box {
  height: 420px;
  background: #1c036c;
}
.banner {
  display: flex;
  justify-content: space-between;
  background: url("../imgs/banner2.png") top center;
}
.banner > .nav {
  padding: 0 20px;
  width: 190px;
  height: 420px;
  background: rgb(20, 2, 75,0.8);
}
.banner > .nav li a {
  display: flex;
  justify-content: space-between;
}
.banner > .nav a {
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 14px;
}
.banner > .nav li a:hover {
  color: #02a4ec;
}
.course_box {
  margin-top: 50px;
  width: 231px;
  height: 300px;
  background: #fff;
}
.course_box > ul {
  padding: 0 15px;
}
.course_box > ul > li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(165, 165, 165, 0.4);
}
.course_box h3 {
  margin-bottom: 20px;
  width: 231px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  background: #9bceea;
}
.course_box h4 {
  font-size: 14px;
  color: #4e4e4e;
}
.course_box p {
  font-size: 12px;
  color: #4e4e4e;
}
.course_box a {
  display: block;
  margin-left: 15px;
  margin-top: 3px;
  border: 1px solid #9bceea;
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #00a4ff;
  text-align: center;
  line-height: 40px;
}
/*banner 结束*/
