* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f3f5f7
}

li {
    list-style: none;
}

a {
    text-decoration: none
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.w {
    width: 1200px;
    margin: 0 auto
}

.header {
    margin: 30px auto;
    height: 42px;
    /* 行高可以继承 */
    line-height: 42px;
    background: #fff
}

/* 头部-导航 */
.header .nav {
    margin-left: 49px
}

.header .nav ul li {
    float: left;
    margin: 0 18px
}

.header .nav ul li a {
    padding: 0 10px;
    font-size: 18px;
    color: #050505
}

.header .nav ul li:hover {
    border-bottom: 2px solid #00a4ff
}

/* 头部-搜索 */
.header .search {
    width: 413px;

}

.header .search input {
    float: left;
    width: 361px;
    height: 42px;
}

.header .search button {
    float: left;
    border: none;
    width: 52px;
    height: 42px;
    background: url('../imgs/fa-search.png') no-repeat top center;
}

/* 头部-用户信息 */
.header .user {
    float: left;
    margin-left: 30px;
}

.header .user img {
    vertical-align: middle;
}

/* footer 开始 */
.footer {
    height: 417px;
    background: #fff
}

.footer .w {
    padding-top: 33px;
}

/* copyright */
.footer .copyright {
    font-size: 12px;
    color: #666666
}

.footer .copyright p {
    margin: 24px 0 17px 0;
}

.footer .copyright a {
    display: block;
    border: 1px solid #00a4ff;
    width: 125px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #00a4ff
}

/* contact 开始 */
.contact dl {
    margin-left: 147px;
}

.contact dt {
    font-size: 16px;
    color: #333333;
    padding-bottom: 15px;
}

.contact dd {
    line-height: 22px;
    font-size: 12px;
    color: #333333;
}

/* footer 结束 */